body {
    display: flex;
    justify-content: center;
}

.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
}

.chess-board th {
    padding: .5em;
}

.chess-board td {
    border: 1px solid;
    width: 3em;
    height: 3em;
}

.chess-board .light {
    background: navajowhite;
}

.chess-board .dark {
    background: peru;
}